.right{
    width: 240px;
}
.right .font{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Times New Roman';
    border-bottom: 1px solid #666666;
    margin-bottom: 10px;
}
.right .m-link a{
    color: #0000EE;
}